/* creacion del boton para cambiar el color de la pagina de la linea 1 hasta la 77 */
:root {
    --primary-color: #000000;
    --bg-color:#040d3f;
    --secondary-color: #000000;
  }
  
  [data-theme="dark"] {
    --primary-color:#040d3f;
    --bg-color: #000000;
    --secondary-color: #ff3366;
  }
  
  
  .theme-switch-wrapper {
    position: absolute;
    top: 80px;
    left: 100%;
    transform: translate(-110%, -110%);
  }
  
  .theme-switch {
    display: block;
    height: 34px;
    position: relative;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background-color: #000000;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    transition: .4s all;
  }
  
  .slider:before {
    background-color: #ffffff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s all;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #ff3366;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: .25rem;
  }
  
  .slider.round:before {
    border-radius: .25rem;
  }
  
  body 
  {
    background-color: var(--bg-color);
    color: var(--primary-color)
  }



  .contenedor-imagenes{
    display: flex;       
    width: 10%;
    margin: auto;
    justify-content:center;
    flex-wrap: wrap;
    border-radius: 3px;
    
    
}

.contenedor-imagenes2{
    display: flex;       
    width: 75%;
    margin: auto;
    justify-content:center;
    flex-wrap: wrap;
    border-radius: 3px;
  
    
}

/* Aplicaremos formato al selector de titulo */
h1{ 
    color:#dc143c;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

/*selector de tipo class*/

.titulo{
    color:#00008b;
    text-align: left;
}


.texto 
{
 color: #ffebcd;
 text-align: justify ;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




#rellenocontainer 
{
    background-color:#ff0000;
}

.politicas a 
{
  color:#ffffff;
  text-decoration: none;
}


